@import "variables";
@import "color";
body {
  font-family: $font-default;
  color: $black;
}

a {
  color: $color-primary;
  text-decoration: none !important;
}

a:hover {
  color: $bg-color;
  text-decoration: none;
}
