@import 'common';
@import 'variables';
@import 'color';

.container.wrap {
  margin-top: 90px;
}

/* Header */
.header {
  background: $bg-color;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  border-bottom: 1px solid $bg-color;
}

@media (max-width: 575px) {
  .header {
    height: 70px;
  }
}

.header {
  border-color: $bg-color;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: $color-primary;
  margin: 0;
  font-family: $font-secondary;
}

.header .logo h1 span {
  color: $color-primary;
}

.search-form {
  position: relative;
  margin-right: 15px;
}
.search-form input[type='text'] {
  width: 200px;
  padding: 8px 15px;
  border: 1px solid $black;
  border-radius: 20px;
  outline: none;
}
.search-form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-form button i {
  font-size: 1.2rem;
}

.header .btn-book-a-table,
.header .btn-book-a-table:focus {
  color: $bg-color;
  font-size: 18px;
  font-weight: 500;
  background: $color-primary;
  padding: 4px 8px;
  margin-left: 30px;
  border-radius: 50px;
  transition: 0.3s;
}

.header .btn-book-a-table:hover,
.header .btn-book-a-table:focus:hover {
  color: $bg-color;
  background: $color-default;
}
.header .login {
  color: $color-default;
  font-weight: 500;
  margin-left: 20px;
}
section {
  scroll-margin-top: 90px;
}

/* Desktop Navigation */
@media (min-width: 980px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: $font-default;
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: $color-primary;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: $black;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: $bg-color;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: $color-primary;
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 980px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 980px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/* Footer */
.footer {
  font-size: 14px;
  background-color: $color-primary;
  padding: 30px 0;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.footer .container {
  margin-left: 15%;
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: $bg-color;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.055);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: $bg-color;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: $bg-color;
  border-color: $bg-color;
}
