@import 'common';
@import 'variables';
@import 'color';
@import 'toastr';
.container {
  width: 100%;
}
.container.wrap {
  margin-top: 90px;
}
.row{
  margin-right: 0;
}

/* Header */
.header {
  background: $bg-color;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  border-bottom: 1px solid $bg-color;
  @media (max-width: 575px) {
    height: 70px;
  }
  .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  .logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: $black;
    margin: 0;
    font-family: $font-secondary;
    span {
      color: $black;
    }
  }
  .search-form {
    position: relative;
    margin-right: 15px;
    input[type='text'] {
      width: 200px;
      padding: 8px 15px;
      border: 1px solid $black;
      border-radius: 20px;
      outline: none;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 5px 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      i {
        font-size: 1.2rem;
      }
    }
  }
  .btn-book-a-table,
  .btn-book-a-table:focus {
    color: $bg-color;
    font-size: 18px;
    font-weight: 500;
    background: $color-primary;
    padding: 4px 8px;
    margin-left: 30px;
    border-radius: 50px;
    transition: 0.3s;
    &:hover,
    &:focus:hover {
      color: $bg-color;
      background: $color-default;
    }
  }
  .login {
    color: $color-default;
    font-weight: 500;
    margin-left: 20px;
  }
}
section {
  scroll-margin-top: 90px;
}

/* Desktop Navigation */
@media (min-width: 980px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
    list-style: none;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: $font-default;
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: $color-primary;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: $black;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: $bg-color;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 50px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul li button{
    display: inline-block;
    padding: 10px 20px;
    background-color: $bg-color;
    color: $color-primary;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: $color-primary;
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 980px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 980px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/* Footer */
.footer {
  font-size: 14px;
  background-color: $color-primary;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.footer .container {
  margin-left: 15%;
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: $bg-color;
}


.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.055);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: $bg-color;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: $bg-color;
  border-color: $bg-color;
}


.category-item.selected {
  background-color: $bg-color;
  color: $bg-color;
}

.food-link {
  text-decoration: none;
  color: $brown;
}

.food-link:hover {
  color: $red;
}

.food-details {
  padding: 50px 0;
}

.food-image {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.food-name {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.food-description {
  font-size: 18px;
  margin-top: 10px;
}

.food-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: $black;
}

.food-image-not-available {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
  filter: grayscale(100%);
}


.card {
    background: $bg-color;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
    overflow: hidden;
    height: 30px;
    font-weight: 300;
    font-size: 1.2rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.card-img-top {
    width: 100%;
    min-height: 50px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}

.card h2 {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
    position: absolute;
    background-color: $color-primary;
    color: $bg-color;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    line-height: 90px;
    text-align: center;
    color: $bg-color;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
    /* padding: 0 25px; */
}

.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
}
.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 15px 5px 15px;
    }
}
@media (max-width: 250px) {
    .btn {
        padding: 5px 10px 5px 10px;
    }
}

/* START BUTTON */
.btn-warning {
    background: $color-secondary;
    color: $black;
    fill: $color-secondary;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}
.btn-warning:hover {
    background: $color-secondary;
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: $color-primary !important;
    color: $bg-color !important;
}
.bg-danger {
    font-size: 1rem;
}


.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}


.card-side-bar {
  margin-top: 50px;
}

.disabled {
  opacity: 1;
  cursor: not-allowed;
}

.m-message {
  margin-top: 10rem;
}

.flash-message {
  position: relative;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 0.5s ease;
}

.flash-message .message {
  display: inline-block;
  margin-right: 20px;
}

.flash-message .close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  color: $black;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.flash-message .close:hover {
  opacity: 1;
}

.alert-success {
  background-color: $color-default;
  border-color: $color-primary;
  color: $black;
}

.alert-danger {
  background-color: $color-primary;
  border-color: $red;
  color: $black;
}

.alert-warning {
  background-color: $bg-color;
  border-color: $brown;
  color: $black;
}

.alert-info {
  background-color: $color-secondary;
  border-color: $black;
  color: $black;
}

h5 {
  color: gray;
}

.delivery-info, .payment {
  padding: 15px;
  border: 1px solid silver;
  border-radius: 8px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.delivery-info i, .payment i {
  font-size: 1.5rem;
  color: $color-default;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group i {
  margin-right: 10px;
}

.form-control {
  flex: 1;
  margin-bottom: 0;
}

.error {
  color: $color-primary;
  font-size: 0.875rem;
  margin-top: 5px;
}

.payment-method .form-group {
  margin-bottom: 15px;
}

.payment-box {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.payment-box .method-name {
  font-size: 1rem;
  color: gray;
}

.btn-submit {
  background-color: $color-default;
  margin-left: 10px;
  color: white;
  padding: 12px;
  margin-top: 20px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: $color-default;
}

.text-center {
  text-align: center;
}

.dropdown-divider {
  height: 1px;
  margin: 20px 0;
  overflow: hidden;
  background-color: white;
}


.sidebar {
  background-color: whitesmoke;
  color: black;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  padding-right: 30px;
}

.custom-select:focus {
  border-color: $color-default;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group-text {
  background-color: white;
  border: 1px solid whitesmoke;
}

.payment-label {
  margin-right: 10px;
}

.payment-input {
  margin-right: 5px;
}

.osahan-user-media img {
  width: 90px;
}
.card offer-card h5.card-title {
  border: 2px dotted black;
}
.card.offer-card h5 {
  border: 1px dotted wheat;
  display: inline-table;
  color: $color-default;
  margin: 0 0 19px 0;
  font-size: 15px;
  padding: 6px 10px 6px 6px;
  border-radius: 2px;
  background: white;
  position: relative;
}
.card.offer-card h5 img {
  height: 22px;
  object-fit: cover;
  width: 22px;
  margin: 0 8px 0 0;
  border-radius: 2px;
}
.card.offer-card h5:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid whitesmoke;
  content: "";
  left: 30px;
  position: absolute;
  bottom: 0;
}
.card.offer-card h5:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid whitesmoke;
  content: "";
  left: 30px;
  position: absolute;
  top: 0;
}
.payments-item .media {
  align-items: center;
}
.payments-item .media img {
  margin: 0 40px 0 11px !important;
}
.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.order-list img.mr-4 {
  width: 70px;
  height: 70px;
  object-fit: cover;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
  border-radius: 2px;
}
.osahan-cart-item p.text-gray.float-right {
  margin: 3px 0 0 0;
  font-size: 12px;
}
.osahan-cart-item .food-item {
  vertical-align: bottom;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: black;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.rounded-pill {
  border-radius: 50rem!important;
}
a:hover{
  text-decoration:none;
}

.section-50 {
    padding: 50px 0;
}

.m-b-50 {
    margin-bottom: 50px;
}

.dark-link {
    color: black;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: $color-default;
    position: absolute;
    bottom: 0;
    left: 0;
}

.notification-ui_dd-content {
    margin-bottom: 30px;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 7px;
    background: white;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
    border-left: 2px solid $color-default;
}

.notification-unread {
  color: red
}

.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
}

.dropdown-menu {
  list-style: none !important;
  padding-left: 0;
}
.dropdown-toggle::after {
  display: none;
}

.notification-dropdown .btn {
  display: flex;
  align-items: center;
}

.notification-dropdown .dropdown-menu {
  min-width: 400px;
  max-height: 370px;
  overflow-y: auto;
  padding: -20;
}

.notification-dropdown .dropdown-menu .notification-item {
  border-bottom: 1px solid white;
}

.notification-dropdown .dropdown-menu .notification-item:last-child {
  border-bottom: none;
}

.notification-dropdown .dropdown-menu .dropdown-item {
  white-space: normal;
}

.red-dot {
  display: inline-block;
  background: $red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

li.d-flex.align-items-center.text-center.text-bold {
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 92px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 56px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--default-font);
}

.section-title p {
  color: var(--heading-color);
  margin: 10px 0 0 0;
  font-size: 48px;
  font-weight: 500;
  font-family: var(--heading-font);
}

.section-title p .description-title {
  color: var(--accent-color);
}

.hero {
  --background-color: color-mix(in srgb, var(--default-color), transparent 94%);
  width: 100%;
  min-height: 60vh;
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 20px;
  font-weight: 400;
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 12px 28px;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 8px 28px color-mix(in srgb, var(--accent-color), transparent 80%);
}

.hero .btn-get-started:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
  box-shadow: 0 8px 28px color-mix(in srgb, var(--accent-color), transparent 55%);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: var(--default-color);
  font-weight: 500;
}

.hero .btn-watch-video i {
  color: var(--accent-color);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: var(--accent-color);
}

.hero .btn-watch-video:hover i {
  color: color-mix(in srgb, var(--accent-color), transparent 15%);
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
