<section>
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong><%= @category.name %></strong></h4>
    <div class="row">
      <%= render @foods_of_category %>
    </div>
  </div>
</section>
